@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inconsolata", monospace;
}

.container {
  margin: 0 auto;
  width: 80%;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #ecce8e;
}

nav,
footer {
  background-color: #2a9d8f;
  color: #333;
  text-align: center;
  border-radius: 10px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > a,
footer > a {
  flex: 1;
  text-align: center;
  color: #333;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }
}
